<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{default}">
<head>
    <title>Dashboard Supervisor</title>
</head>
<body>
<div layout:fragment="content">

    </br>
    </br>
    <div class="container">
        <div class="row">
            <div class="special-border-right col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span>Navegación</span>
                </h4>
                <nav class="nav flex-column">
                    <a class="nav-nav" th:href="@{/signup}">
                        <i class="fas fa-list-ol"></i>
                        Registrar nuevo usuario
                    </a>
                </nav>
            </div>
            <div class="col-md-8 order-md-1">
                <p> Por definir</p>
            </div>
        </div>
    </div>

</div>
</body>
</html>