<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{default}">
<head>
    <title>Dashboard Supervisor</title>
</head>
<body>
<div layout:fragment="content">

    </br>
    </br>
    <div class="container">
        <div class="row">
            <div class="special-border-right col-md-2 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span>Navegación</span>
                </h4>
                <nav class="nav flex-column">
                    <a class="nav-nav" th:href="@{/signup}">
                        <i class="fas fa-list-ol"></i>
                        Registrar nuevo usuario
                    </a>
                </nav>
            </div>
            <div class="col-md-10 order-md-1">
                <h3> Lista de novedades por revisar </h3>

                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Tipo</th>
                        <th scope="col">Comentario</th>
                        <th scope="col">Duración (Días)</th>
                        <th scope="col">Fecha creación</th>
                        <th scope="col">Fecha inicio</th>
                        <th scope="col">Fecha fin</th>
                        <th scope="col">Reportado por</th>
                        <th scope="col">Estado</th>
                    </tr>

                    </thead>
                    <th:block th:each = "novelty : ${listNovelties}">
                        <tr>
                            <td th:text="${novelty.type}" />
                            <td th:text="${novelty.comment}" />
                            <td th:text="${novelty.daysAmount}" />
                            <td th:text="${novelty.creationDate}" />
                            <td th:text="${novelty.startDate}" />
                            <td th:text="${novelty.endDate}" />
                            <td th:text="${novelty.user.fullname}" />
                            <td th:text="${novelty.status}" />
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>