:root {
    --color-one : #0A5DBB;
    --color-two : #A0C2E7;
    --color-three : #BECBD9;
    --color-four : #01254D;
    --color-five : #01162D;
    --font-name : 'PT Sans', sans-serif;
}

.header {
    height: 25px;
    line-height: 24px;
    font-size: 13px;
    background: #000;
    opacity: 0.9;
    text-transform: uppercase;
    z-index: 1000;
    position: fixed;
    width: 100%;
}

body {
    padding-top: 80px;
    background-color: #F5F5F5;
}


.center {
    margin: auto;
    width: 75%;
    padding: 10px;
}

.login-center {
    margin: auto;
    width: 30%;
    padding: 10px;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.special-border-right {
    border-left: 2px solid #eee;
}

.navbar {
    background-color: var(--color-four);
    color: white;
    border-color : transparent;
    -webkit-box-shadow: 0 8px 6px -6px #222222;
    -moz-box-shadow: 0 8px 6px -6px #222222;
    box-shadow: 0 8px 6px -6px #222222;
}


.navbar .navbar-brand {
    color: #ffffff;
    font-size: 2em;
    font-style: italic;
}

.nav-link {
    color: white;
}

.nav-nav {
    color: var(--color-four);
}
@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}