<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{default}">
<head>
  <title>Dashboard Usuario</title>
</head>
<body>
  <div layout:fragment="content">
    <h1> List de novedades </h1>

    <table class="table">
      <thead>
      <tr scope="col">Tipo</tr>
      <tr scope="col">Comentario</tr>
      <tr scope="col">Duración</tr>
      <tr scope="col">Fecha inicio</tr>
      <tr scope="col">Fecha fin</tr>
      </thead>
      <th:block th:each = "novelty : ${listNovelties}">
        <tr>
          <td th:text="${novelty.type}" />
          <td th:text="${novelty.comment}" />
          <td th:text="${novelty.daysAmount}" />
          <td th:text="${novelty.startDay}" />
          <td th:text="${novelty.endDay}" />
        </tr>
      </th:block>
    </table>


  </div>
</body>
</html>
