<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorate="~{default}">
<head>
    <title>Registro</title>
</head>
<body>
<div layout:fragment="content">
    </br>
    <form th:action="@{/signup}" method="post">
    <div class="container">
        <div class="row">
            <div class="special-border-right col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span>Navegación</span>
                </h4>
                <nav class="nav flex-column">
                    <a class="nav-nav active" href="#">Active</a>
                    <a class="nav-nav" href="#">Link</a>
                    <a class="nav-nav" href="#">Link</a>
                    <a class="nav-nav disabled" href="#">Disabled</a>
                    <a class="nav-nav" th:href="@{/noveltyList}">POR DEFINIRMi lista de novedades</a>
                </nav>
            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Nuevo usuario</h4>
                <form th:action="@{/createNewNovelty}" method="post">
                    <div th:if="${successMessage}">
                        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                            <strong><p th:text="${successMessage}"></p></strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="inputEmail">Correo electrónico</label>
                            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="correo electrónico" th:required="required"/>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="inputFullname">Nombre completo</label>
                            <input type="text" name="fullname" id="inputFullname" class="form-control" placeholder="Nombre" th:required="required"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="inputdoctype">Tipo de documento</label>
                            <select id="inputdoctype" name="idtype" class="form-control" placeholder="Tipo de documento" th:required="required">
                                <option value="cc">Cédula de ciudadanía</option>
                                <option value="ce">Cédula de extranjería</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="inputdoc">Número de documento</label>
                            <input type="text" name="idnumber" id="inputdoc" class="form-control" placeholder="Número de documento" th:required="required"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="inputRole">Rol</label>
                            <select id="inputRole" name="creationRole" class="form-control" placeholder="Rol" th:required="required">
                                <option value="USER">Colaborador</option>
                                <option value="ADMIN">Supervisor</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="inputboss">Rol</label>
                            <select id="inputboss" name="boss" class="form-control" placeholder="Jefe" th:required="required">
                                <option value="jefe1">JEFE 1</option>
                                <option value="jefe2">JEFE 2</option>
                            </select>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        <i class="fas fa-save"></i>
                        Registrar usuario
                    </button>
                </form>
            </div>
        </div>
    </div>
    </form>

</div>
</body>
</html>
